body {
    .aboutme{
        background-image: url('../image/about/Background.png');
        position:relative;
        
    }

    .profile{
        position:relative;
        top:120px;
    }

    .introduce{
        position:relative;
        top:40px;
        left:50px;
        color:#fff;
    }
    .introduce-title{
        color:#cfcdcd;
        font-size:20px;
    }

}
