body {
    .display {
        background-color: #FFF;
        position: relative;
        top: -20px;
    }

    .box1 {
        margin-right:42px;
        height:120px;
        width:207px;
        display:inline-block;
        position: relative;
        top: 100px;
    }

    .box2 {
        margin-right:42px;
        height:120px;
        width:207px;
        display:inline-block;
        position: relative;
        top: 100px;
       
    }

    .box3 {
        margin-right:42px;
        height:120px;
        width:207px;
        display:inline-block;
        position: relative;
        top: 100px;
        
    }

    .box4 {
        
        height:120px;
        width:207px;
        display:inline-block;
        position:relative;
        top: 100px;
        
    }
    .box5 {
        margin-right:29px;
        height:120px;
        width:207px;
        display:inline-block;
        position: relative;
        
    }
    .box6 {
        margin-right:30px;
        height:120px;
        width:207px;
        display:inline-block;
        position: relative;
        
        
    }
     .box7 {
         margin-right:30px;
         height:120px;
        width:207px;
         display:inline-block;
        position: relative;
        
    }
     .box8{
         margin-right:30px;
         height:120px;
        width:207px;
         display:inline-block;
        position:relative;
        
    }
     .box9 {
        
         height:120px;
        width:207px;
         display:inline-block;
        position: relative;
        
    }

    .box10 {
        margin-right:42px;
        height:120px;
        width:207px;
        display:inline-block;
        position: relative;
        
    }
     .box11 {
         margin-right:42px;
        height:120px;
        width:207px;
        display:inline-block;
        position: relative;
        
        
    }
      .box12 {
          margin-right:42px;
        height:120px;
        width:207px;
        display:inline-block;
        position: relative;
       
        
    }
       .box13 {
         
        height:120px;
        width:207px;
        display:inline-block;
        position: relative;
        
        
    }
    .first {
        height: 120px;
        width: 207px;
        background-color: red;
        position: relative;
        overflow: hidden;
    }

    .second {
        height: 120px;
        width: 207px;
        background-color: blue;
        position: relative;
        top: -120px;
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg);
        overflow: hidden;
    }

    .third {
        height: 120px;
        width: 207px;
        background-color: green;
        position: relative;
        top: -240px;
        -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        transform: rotate(-60deg);
        overflow: hidden;
    }
    .Box1-firstImg{
        margin-top: -60px;   //高度的一半
        width:207px;
        height:240px;       
    }
    .Box1-secondImg {
        margin-top: -60px;   //高度的一半
         width:207px;
        height:240px;       
        -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        transform: rotate(-60deg);
    }
    .Box1-thirdImg{
         margin-top: -60px;   //高度的一半
         width:207px;
        height:240px;       
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    .pic-display3{
        position:relative;
        top:-120px;
    }
}
