body .touch {
  background-color: #323232;
  position: relative; }

body .getintouch {
  color: #f8f8f8; }

body .form-name {
  width: 750px;
  height: 45px;
  opacity: 0.4; }

body .form-email {
  width: 750px;
  height: 45px;
  opacity: 0.4; }

body .form-subject {
  margin-bottom: 30px;
  width: 750px;
  height: 45px;
  opacity: 0.4; }

body .form-message {
  width: 750px;
  height: 150px;
  display: block;
  resize: none;
  opacity: 0.4; }

body .send-btn {
  position: relative;
  left: 660px;
  margin-bottom: 20px; }

body .touch-txt {
  color: #FFF;
  line-height: 1.5em; }

body .error-message {
  height: 30px;
  color: #FFF; }

