body {

    .touch{
        background-color:#323232;
        position:relative;
        
    }

    .getintouch{
        color:#f8f8f8;
    }

    .form-name{
        
        width:750px;
        height:45px;
        opacity:0.4;
    }
    .form-email{
        
        width:750px;
        height:45px;
        opacity:0.4;
    }
    .form-subject{
        margin-bottom:30px;
        width:750px;
        height:45px;
        opacity:0.4;
    }
     .form-message{
        
        width:750px;
        height:150px;
        display:block;
        resize:none;
        opacity:0.4;
    }
     .send-btn{
        position:relative;
        left:660px;
        margin-bottom:20px;
     }
     .touch-txt{
         color:#FFF;
         line-height:1.5em;
     }

     .error-message{
         height:30px;
         color:#FFF;
     }



}
